.add-comment {
    display: flex;
    gap: 10px;
    width: 100vw;
}

.comment-textarea {
    background-color: #232323;
    flex: 1;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 7px;
    box-sizing: border-box;
}

.btn {
    background-color: #0000ff;
    border: 0;
    border-radius: 3px;
    font-size: larger;
    color: #ffffff;
    cursor: pointer;
}

.btn:hover {
    background-color: #0000c6;
}

.btn-comment-add {
    padding: 0 20px;
}

.comment-container {
    margin-top: 10px;
    background-color: #242c2d;
    padding: 10px;
    border-radius: 3px;
}

.comment {
    margin: 5px 0;
}

.comment.text {
    margin-bottom: 10px;
}

.comment-buttons {
    margin-top: 10px;
    display: flex;
    gap: 7px;
}

.btn-comment {
    padding: 5px 10px;
}
