* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

::placeholder {
    color: #ffffff;
}
